body{
    background-color: rgb(21, 153, 109);
    color: black;
}
h2 {
    text-align: center;
    font-size: 30px;
}

.filme-1
{
    text-align: center;
}
.cartaz{
    width: 50%;
    height: 13em;
}
.cartaz-todos{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

.link{
color: rgb(29, 26, 24) ;
font-size: 50px;
